body {
  margin: 30px;
  padding: 0 50px;
}

.preferences {
  display: flex;
}

.options {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  font-style: italic;
}
